[submodule "moodle"]
	path = moodle
	url = git@github.com:moodle/moodle
[submodule "plugins/dictionary"]
	path = plugins/dictionary
	url = git@github.com:nfreear/moodle-plugin_dictionary
[submodule "plugins/filter/interwiki"]
	path = plugins/filter/interwiki
	url = git@github.com:nfreear/moodle-filter_interwiki
[submodule "plugins/filter/scratchembed"]
	path = plugins/filter/scratchembed
	url = git@github.com:nfreear/moodle-filter_scratchembed
[submodule "plugins/filter/simplespeak"]
	path = plugins/filter/simplespeak
	url = git@github.com:nfreear/moodle-filter_simplespeak
[submodule "plugins/filter/timelinewidget"]
	path = plugins/filter/timelinewidget
	url = git@github.com:nfreear/moodle-filter_timelinewidget
